# Pipelines Exploration

The purpose of a pipeline is to seamlessly fix various problems in the machine learning process

* Data might not be in $R^d$
* Features need to be engineered
* Transformations need to be applied
* Hyperparameters need to be tuned

In [3]:
from dao import DataAccess

from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

In [4]:
import numpy as np

First we easily instantiate a `DataAccess` and get the data in a DataFrame

In [5]:
X = DataAccess.as_dataframe()

In [6]:
X.head(2)

,created_at,labels,predict,text,user
_id,,,,,
556e0ee3d6dfbb462880f0a5,Tue Jun 02 20:16:08 +0000 2015,{'alcohol': 0},0.526050,Impatiently waiting to get our hands on the ne...,"{'verified': False, 'statuses_count': 823, 'fa..."
556e128ad6dfbb46288111e4,Tue Jun 02 20:31:44 +0000 2015,{'alcohol': 1},0.516649,Beer fans need their @ColumbusBrewing Bodhi. I...,"{'verified': False, 'statuses_count': 10442, '..."

In [63]:
class ExplodingRecordJoiner(BaseEstimator, TransformerMixin):
    def __init__(self, **kwargs):
        self.cols = kwargs
        
    def fit(self, X, y=None):
        pass
    
    def transform(self, X, y=None):
        # Extract column of dicts then apply from_records,
        # Match indicies then select the `subcols` we want,
        # Join with existing DataFrame.
        for col, subcol in self.cols.items():
            X = X.join(
                pd.DataFrame.from_records(X[col], index=X.index)[subcols]
            )
        return X
    
    def fit_transform(self, X, y=None):
        return self.transform(X)
    
    def __repr__(self):
        st = [k+"="+ str(v) for k,v in self.cols.items()]
        return "ExplodingRecordJoiner({})".format(", ".join(st))
    
    def get_params():
        return self.cols

In [64]:
ExplodingRecordJoiner(
    labels=["alcohol"],
    user=['created_at', 'favourites_count', 'followers_count', 
          'friends_count', 'statuses_count', 'verified']).get_params()

TypeError: get_params() takes 0 positional arguments but 1 was given

In [7]:
class ItemGetter(BaseEstimator, TransformerMixin):
    """
    This canonical ItemGetter is a Transformer for Pipeline objects.
    Initialize the ItemGetter with a `key` and its transform call will select a column out
    of the specified column.
    """
    
    def __init__(self, key):
        self.key = key
        
    def fit(self, X, y=None):
        pass
    
    def transform(self, X, y=None):
        return X[self.key]
    
    def fit_transform(self, X, y=None):
        return X[self.key]

## Text Pipeline

First on our list is a simple Text Pipeline that uses TfidfVectorizer and TruncatedSVD (LSI)
Also use Twokenize from [brendano/tweetmotif](https://github.com/brendano/tweetmotif).

    Brendan O'Connor, Michel Krieger, and David Ahn. TweetMotif: Exploratory Search and Topic Summarization for Twitter. ICWSM-2010.

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD

from twokenize import tokenize

text_pipe = []

text_pipe.append(
    ("text", 
     ItemGetter("text")
    )
)

text_pipe.append(
    ("tfidf", 
     TfidfVectorizer(
            analyzer="char",
            ngram_range=(2,5),
            min_df = 10,
            max_df = .98
        )
    )
)

text_pipe.append(
    ("lsi",
    TruncatedSVD(
            n_components=3000
        )
    )
)

# TruncatedSVD is annoying expensive...
text_pipeline = Pipeline(text_pipe[:2])

### Future Work: 

Incorperate Gensim Phrases, and LDA as custom transformers with the ability to load them from files

# Time Pipeline

### Vectorizers

I'll describe vectorization process a bit later as i've design it in a way so that it can be easily modified
for future implementations.

### Transformers

`DateTimeTransformer` takes the `created_at` selection and converts it into a `pandas.DatetimeIndex` which is amazingly powerful.

Currently I am using the `dayofweek`, `hour`, and `hourofweek` features.

In [17]:
import pandas as pd

class Timestamp2DatetimeIndex(BaseEstimator, TransformerMixin):
    """
    This consumes a timestamp series and applies `pandas.DatetimeIndex`
    to return a DatetimeIndex object
    """
    def fit(self, X, y=None):
        pass
    
    def transform(self, X, y=None):
        return pd.DatetimeIndex(X)
    
    def fit_transform(self, X, y=None):
        return self.transform(X)

In [19]:
from scipy.sparse import csc_matrix

import pandas as pd

class DatetimeIndexAttr(BaseEstimator, TransformerMixin):
    """
    Accesses all of the available `pandas.DatetimeIndex` attributes when initialized.
    Also provides a new attribute called "hourofweek".
    """
    
    def __init__(self, kind):
        self.kind = kind
        
    def fit(self, X, y=None):
        pass
    
    def transform(self, X, y=None):
        n = len(X)
        if self.kind == "hourofweek":
            col = X.dayofweek * 24 + X.hour
        else:
            col = getattr(X, self.kind)
        return pd.DataFrame(col)
    
    def fit_transform(self, X, y=None):
        return self.transform(X)

Everything is one hot encoded, am I ashamed? A little...

In [20]:
from sklearn.preprocessing import OneHotEncoder

time_pipe = list()

time_pipe.append(
    ("get_created_at", 
     ItemGetter("created_at")
    )
)

time_pipe.append(
    ("to_datetimeindex",
    DateTimeTransformer()
    )
)

time_pipe.append(
    ("features",
    FeatureUnion([
        ("dayofweek", 
         Pipeline(
                    [("index", DatetimeIndex("dayofweek")),
                     ("onehot", OneHotEncoder())])),
        ("hour", 
         Pipeline(
                    [("index", DatetimeIndex("hour")),
                     ("onehot", OneHotEncoder())])),
        ("hourofweek", 
         Pipeline(
                    [("index", DatetimeIndex("hourofweek")),
                     ("onehot", OneHotEncoder())]))
        ])
    )
)

### Future Work

Notice that right now the things are all OneHotEncoded. This will change later. We see that a lot of this infromation is periodic so we can probably include features like the different between Phases rather than the time itself.

This will probably function better than collapsing it into larger semantic intervals like `Afternoon` or `Sunday Afternoon`

Moreover instead of using prior densities based on our other data, we could also have that a part of the fit process...

## User Pipeline

From prior exploration it seems that log scaling them helps a lot. Noreover, a feature called normality also helps greatly.

On read, There user column is a dict so we need a transformer to convert it.

In [12]:
class Dict2DF(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        pass
    
    def transform(self, X, y=None):
        return pd.DataFrame.from_records(X, index=X.index)
    
    def fit_transform(self, X, y=None):
        return self.transform(X)

In [13]:
u = Dict2DF().fit_transform(X.user).head()

In [14]:
u

,created_at,favourites_count,followers_count,friends_count,statuses_count,verified
_id,,,,,,
556e0ee3d6dfbb462880f0a5,Thu Jun 12 22:14:05 +0000 2014,394,407,1997,823,False
556e128ad6dfbb46288111e4,Mon Oct 06 21:00:38 +0000 2008,806,1006,960,10442,False
556e1464d6dfbb4628812330,Sun Mar 11 08:22:56 +0000 2012,860,703,684,89573,False
556e15f1d6dfbb4628813236,Thu Jan 14 03:03:33 +0000 2010,3473,9414,1486,16435,True
556e1adcd6dfbb50e34a1ed6,Sun Oct 24 23:02:03 +0000 2010,3964,519,434,32154,False

In [15]:
class UserEgoVectorizer(BaseEstimator, TransformerMixin):
    
    def __init__(self, log=True, mean=True):
        self.log = log
        self.mean = mean
    
    def fit(self, X, y=None):
        
        u = X
        
        if self.log:
            favourites_count = np.log(u.favourites_count)
            followers_count = np.log(u.followers_count)
            statuses_count = np.log(u.statuses_count)
        
        if self.mean:
            self.mean_fav = np.mean(u.favourites_count)
            self.mean_fol = np.mean(u.followers_count)
            self.mean_fri = np.mean(u.friends_count)
        return 
    
    def transform(self, X, y=None):
        
        u = X
        
        u["normality"] = u.friends_count / (u.followers_count + u.friends_count + 1)
        
        if self.log:
            u["log_favourites_count"] = np.log(u.favourites_count)
            u["log_followers_count"] = np.log(u.followers_count)
            u["log_statuses_count"] = np.log(u.statuses_count)
            u["log_friends_count"] = np.log(u.friends_count)
        
        if self.mean:
            u["fav_kre"] = (u.favourites_count - self.mean_fav) 
            u["fol_kre"] = (u.followers_count - self.mean_fol)
            u["fri_kre"] = (u.friends_count - self.mean_fri)
        del u["created_at"]
        return u
    
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)

In [16]:
class UserAgeMonths(BaseEstimator, TransformerMixin):
    
    def fit(self, X, y=None):
        pass
    
    def transform(self, X, y=None):
        from operator import itemgetter
        tweet_time = pd.to_datetime(X.created_at)
        user_time = pd.to_datetime(X.user.apply(itemgetter("created_at")))
        return (tweet_time - user_time).apply(int) // 2.62974e15
    
    def fit_transform(self, X, y=None):
        self.fit(X)
        return self.transform(X)

In [35]:
pd.DataFrame.from_records(X.user, index=X.index).columns

Index(['created_at', 'favourites_count', 'followers_count', 'friends_count',
       'statuses_count', 'verified'],
      dtype='object')

In [32]:
X.join(pd.DataFrame.from_records(X.user, index=X.index), rsuffix="_user")

,created_at,labels,predict,text,user,created_at_user,favourites_count,followers_count,friends_count,statuses_count,verified
_id,,,,,,,,,,,
556e0ee3d6dfbb462880f0a5,Tue Jun 02 20:16:08 +0000 2015,{'alcohol': 0},0.526050,Impatiently waiting to get our hands on the ne...,"{'verified': False, 'statuses_count': 823, 'fa...",Thu Jun 12 22:14:05 +0000 2014,394,407,1997,823,False
556e128ad6dfbb46288111e4,Tue Jun 02 20:31:44 +0000 2015,{'alcohol': 1},0.516649,Beer fans need their @ColumbusBrewing Bodhi. I...,"{'verified': False, 'statuses_count': 10442, '...",Mon Oct 06 21:00:38 +0000 2008,806,1006,960,10442,False
556e1464d6dfbb4628812330,Tue Jun 02 20:39:37 +0000 2015,{'alcohol': 1},0.502633,Stone Cold use to be the baddest MF in my book...,"{'verified': False, 'statuses_count': 89573, '...",Sun Mar 11 08:22:56 +0000 2012,860,703,684,89573,False
556e15f1d6dfbb4628813236,Tue Jun 02 20:46:14 +0000 2015,{'alcohol': 1},0.535758,Now @iamjohnoliver has to drink a Bud Light Li...,"{'verified': True, 'statuses_count': 16435, 'f...",Thu Jan 14 03:03:33 +0000 2010,3473,9414,1486,16435,True
556e1adcd6dfbb50e34a1ed6,Tue Jun 02 21:07:13 +0000 2015,{'alcohol': 0},0.533892,I'm ready for a yard sale and to sell all the...,"{'verified': False, 'statuses_count': 32154, '...",Sun Oct 24 23:02:03 +0000 2010,3964,519,434,32154,False
556e1e58d6dfbb50e34a3eb7,Tue Jun 02 21:22:06 +0000 2015,{'alcohol': 1},0.572562,"""I need a drink because I'm upset about some p...","{'verified': False, 'statuses_count': 12889, '...",Tue Jul 29 13:51:57 +0000 2008,2489,727,624,12889,False
556e2133d6dfbb50e34a59c8,Tue Jun 02 21:34:17 +0000 2015,{'alcohol': 1},0.603472,"So for now, no drinking for the foreseeable fu...","{'verified': False, 'statuses_count': 778, 'fa...",Thu Mar 26 13:25:53 +0000 2015,0,13,42,778,False
556e2484d6dfbb50e34a7958,Tue Jun 02 21:48:26 +0000 2015,{'alcohol': 1},0.554492,.@MagicTreePub &amp; Eatery has T-Shirt Tuesda...,"{'verified': False, 'statuses_count': 23532, '...",Tue Jun 11 18:43:03 +0000 2013,1133,1912,699,23532,False
556e3d1ed6dfbb6d1e39fe92,Tue Jun 02 23:33:23 +0000 2015,{'alcohol': 1},0.540555,Wtf was I drinking Sunday?üòÇüî´üôä http://t.co/3c2m...,"{'verified': False, 'statuses_count': 11567, '...",Tue Nov 02 17:30:02 +0000 2010,3466,309,173,11567,False
556e3dfcd6dfbb6d1e3a075e,Tue Jun 02 23:37:05 +0000 2015,{'alcohol': 0},0.504472,U aint makin money fuck yo lame excuse// kim k...,"{'verified': False, 'statuses_count': 794, 'fa...",Thu Sep 12 23:00:31 +0000 2013,608,1626,428,794,False
556e4274d6dfbb6d1e3a3504,Tue Jun 02 23:56:10 +0000 2015,{'alcohol': 1},0.745062,I'm all alone eating all these hors douerves a...,"{'verified': False, 'statuses_count': 7060, 'f...",Sun Jan 23 02:07:59 +0000 2011,495,143,178,7060,False
556e4332d6dfbb6d1e3a3ca5,Tue Jun 02 23:59:19 +0000 2015,{'alcohol': 0},0.528467,Holding onto anger is like drinking poison and...,"{'verified': False, 'statuses_count': 2673, 'f...",Thu Nov 01 19:19:11 +0000 2012,3261,282,488,2673,False
556e4560d6dfbb7a8de41bf7,Wed Jun 03 00:08:38 +0000 2015,{'alcohol': 1},0.513146,@ErinZariah gonna be awesome at Santa Monica B...,"{'verified': False, 'statuses_count': 7762, 'f...",Fri May 18 16:59:57 +0000 2012,4145,2125,2330,7762,False
556e456cd6dfbb7a8de41c6b,Wed Jun 03 00:08:49 +0000 2015,{'alcohol': 0},0.562864,zombie week begins tonight whos excited RT @Re...,"{'verified': False, 'statuses_count': 12067, '...",Mon Apr 20 14:16:24 +0000 2009,4856,274,1172,12067,False
556e4632d6dfbb7a8de424ae,Wed Jun 03 00:12:08 +0000 2015,{'alcohol': 1},0.735108,I can go through the week without drinking but...,"{'verified': False, 'statuses_count': 31666, '...",Sat Oct 03 23:15:08 +0000 2009,679,1469,1127,31666,False
556e46dcd6dfbb7a8de42c34,Wed Jun 03 00:14:58 +0000 2015,{'alcohol': 0},0.570291,When your beer matches your poncho üí¶üôãüá∫üá∏ @ Cone...,"{'verified': False, 'statuses_count': 21824, '...",Tue Apr 01 06:00:39 +0000 2008,5401,1446,1499,21824,False
556e46ead6dfbb7a8de42cd7,Wed Jun 03 00:15:12 +0000 2015,{'alcohol': 1},0.534015,"Dinner, drinks with my co worker in the city!!","{'verified': False, 'statuses_count': 346, 'fa...",Wed Apr 01 02:19:34 +0000 2009,165,193,528,346,False
556e4aa7d6dfbb7a8de45705,Wed Jun 03 00:31:08 +0000 2015,{'alcohol': 1},0.556131,"Light, but doesn't lack flavor. A good summer ...","{'verified': False, 'statuses_count': 2370, 'f...",Tue Jul 21 05:44:49 +0000 2009,371,97,675,2370,False
556e4b48d6dfbb7a8de45dee,Wed Jun 03 00:33:49 +0000 2015,{'alcohol': 1},0.552766,i hope luke gets shit-faced on his birthday i ...,"{'verified': False, 'statuses_count': 1849, 'f...",Wed Jul 30 01:20:33 +0000 2014,544,106,272,1849,False
556e4c08d6dfbb7a8de4664a,Wed Jun 03 00:37:02 +0000 2015,{'alcohol': 0},0.572576,Drinks with @BigRedDiva @gferraronhl and compa...,"{'verified': False, 'statuses_count': 3563, 'f...",Tue Apr 08 17:08:40 +0000 2014,1344,152,424,3563,False
556e4d00d6dfbb7a8de47165,Wed Jun 03 00:41:10 +0000 2015,{'alcohol': 1},0.568180,https://t.co/iDJbdTP6LS When drunk people dance,"{'verified': False, 'statuses_count': 1180, 'f...",Thu May 21 18:41:51 +0000 2015,0,1,0,1180,False
556e4db1d6dfbb7a8de479b7,Wed Jun 03 00:44:07 +0000 2015,{'alcohol': 1},0.739363,Our local donut shop conveniently doubles as a...,"{'verified': False, 'statuses_count': 251, 'fa...",Sat May 03 13:23:31 +0000 2014,1107,522,883,251,False
556e4ddcd6dfbb7a8de47b9c,Wed Jun 03 00:44:49 +0000 2015,{'alcohol': 1},0.568138,@steveaustinBSR favorite kind of beer?,"{'verified': False, 'statuses_count': 14217, '...",Tue Dec 27 16:53:05 +0000 2011,5522,642,1779,14217,False
556e4e1bd6dfbb7a8de47e81,Wed Jun 03 00:45:53 +0000 2015,{'alcohol': 0},0.602622,I just gave up getting two drinks at Starbucks...,"{'verified': False, 'statuses_count': 1863, 'f...",Sat Oct 26 15:12:10 +0000 2013,1428,295,245,1863,False
556e4e47d6dfbb7a8de48083,Wed Jun 03 00:46:37 +0000 2015,{'alcohol': 1},0.606162,Word of advice 4 snapchatters: don't JUST send...,"{'verified': False, 'statuses_count': 5320, 'f...",Tue Apr 21 18:45:03 +0000 2009,2196,134,122,5320,False
556e4fbcd6dfbb7a8de49157,Wed Jun 03 00:52:49 +0000 2015,{'alcohol': 0},0.508802,@ABCFpll Ezra and Caleb got to Allison first??,"{'verified': False, 'statuses_count': 7291, 'f...",Wed Apr 20 00:28:46 +0000 2011,4255,250,327,7291,False
556e505bd6dfbb7a8de498ba,Wed Jun 03 00:55:28 +0000 2015,{'alcohol': 1},0.604952,Beer league is where legends are made,"{'verified': False, 'statuses_count': 393, 'fa...",Wed Oct 09 02:30:17 +0000 2013,505,157,150,393,False
556e52fad6dfbb077d48274b,Wed Jun 03 01:06:40 +0000 2015,{'alcohol': 1},0.615353,#NoteToSelf Don't drink on a Monday..üò£,"{'verified': False, 'statuses_count': 3869, 'f...",Fri Mar 28 18:52:20 +0000 2014,7618,71,77,3869,False
556e5510d6dfbb077d4841bf,Wed Jun 03 01:15:33 +0000 2015,{'alcohol': 1},0.657738,I hate that I turn into a mean drunk sometimesüòî,"{'verified': False, 'statuses_count': 8503, 'f...",Sat Mar 12 03:44:47 +0000 2011,5246,957,946,8503,False
556e556fd6dfbb077d48469d,Wed Jun 03 01:17:09 +0000 2015,{'alcohol': 1},0.642275,@AKGrin does a great job of drinking beer in t...,"{'verified': False, 'statuses_count': 3082, 'f...",Sun Feb 24 04:48:43 +0000 2013,795,139,233,3082,False
...,...,...,...,...,...,...,...,...,...,...,...
55914691d6dfbb3d910847c7,Mon Jun 29 13:22:29 +0000 2015,{'alcohol': 1},0.536768,"new job, new things. life is good, God is alwa...","{'verified': False, 'statuses_count': 9733, 'f...",Mon Jan 25 04:39:02 +0000 2010,5152,592,334,9733,False
55914ac2d6dfbb3d91085bb3,Mon Jun 29 13:40:21 +0000 2015,{'alcohol': 1},0.701172,"Too sober to tweet, too drunk for work. \n\nWo...","{'verified': False, 'statuses_count': 490, 'fa...",Thu Apr 09 16:27:34 +0000 2015,2160,212,435,490,False
55915050d6dfbb451b92c947,Mon Jun 29 14:04:03 +0000 2015,{'alcohol': 1},0.694533,Thought I sprained my ankle yesterday but was ...,"{'verified': False, 'statuses_count': 33164, '...",Thu Dec 27 00:34:06 +0000 2012,11522,764,470,33164,False
5591582bd6dfbb451b92f5e3,Mon Jun 29 14:37:34 +0000 2015,{'alcohol': 0},0.648114,.* came home high asf üçÅüí®‚õΩ drunk üçªüçªüçª &amp; laye...,"{'verified': False, 'statuses_count': 37113, '...",Mon Dec 17 02:57:51 +0000 2012,389,1647,1084,37113,False
5591683ed6dfbb49d2d27098,Mon Jun 29 15:46:10 +0000 2015,{'alcohol': 0},0.574208,Can't eat or drink anything for another 4 hour...,"{'verified': False, 'statuses_count': 350, 'fa...",Mon Jan 04 23:25:39 +0000 2010,1077,348,331,350,False
559169f4d6dfbb49d2d27ea3,Mon Jun 29 15:53:28 +0000 2015,{'alcohol': 0},0.550372,I'm beginning to think I made a mistake gettin...,"{'verified': False, 'statuses_count': 1319, 'f...",Tue Feb 09 01:03:16 +0000 2010,585,58,83,1319,False
55916abfd6dfbb49d2d284c2,Mon Jun 29 15:56:51 +0000 2015,{'alcohol': 0},0.687429,I was so scared last night when I got home som...,"{'verified': False, 'statuses_count': 48005, '...",Tue Oct 26 20:56:38 +0000 2010,6530,2412,1875,48005,False
55916fb2d6dfbb4e77e26099,Mon Jun 29 16:17:53 +0000 2015,{'alcohol': 1},0.561291,"You're gonna want some red, white and blue in ...","{'verified': False, 'statuses_count': 2061, 'f...",Thu May 27 00:51:21 +0000 2010,203,4559,4443,2061,False
559173e0d6dfbb4e77e2857c,Mon Jun 29 16:35:47 +0000 2015,{'alcohol': 1},0.622802,I did 56 bars all in one month nigga and I'm s...,"{'verified': False, 'statuses_count': 95893, '...",Mon Jul 11 22:15:43 +0000 2011,2633,2299,2034,95893,False
55917457d6dfbb4e77e288c1,Mon Jun 29 16:37:22 +0000 2015,{'alcohol': 1},0.571994,Because drinking at 11:30 in the morning is a ...,"{'verified': False, 'statuses_count': 2681, 'f...",Sat Jan 05 20:29:25 +0000 2013,961,131,120,2681,False
559176cad6dfbb4e77e290fc,Mon Jun 29 16:48:13 +0000 2015,{'alcohol': 0},0.560207,Fuggin beaners got caught vaping in class thin...,"{'verified': False, 'statuses_count': 71, 'fav...",Tue Jun 23 22:21:40 +0000 2015,182,39,59,71,False
55918fa3d6dfbb56098ac174,Mon Jun 29 18:34:14 +0000 2015,{'alcohol': 1},0.639297,i can drink out of a straw yay yay yay,"{'verified': False, 'statuses_count': 4053, 'f...",Fri Apr 05 22:58:51 +0000 2013,21222,771,525,4053,False
5591980cd6dfbb5a81838136,Mon Jun 29 19:10:05 +0000 2015,{'alcohol': 1},0.574007,Tonight's the night for time traveling and dri...,"{'verified': False, 'statuses_count': 138, 'fa...",Sat May 03 14:35:23 +0000 2014,89,65,258,138,False
55919949d6dfbb5a81838d6f,Mon Jun 29 19:15:25 +0000 2015,{'alcohol': 1},0.745310,Someone took my phone and put their number in ...,"{'verified': False, 'statuses_count': 11808, '...",Thu Nov 29 21:29:55 +0000 2012,3569,193,65,11808,False
55919c45d6dfbb5a8183a5e1,Mon Jun 29 19:27:58 +0000 2015,{'alcohol': 1},0.643035,I have to have a drink b4 and after work maybe...,"{'verified': False, 'statuses_count': 4600, 'f...",Tue Nov 04 04:27:25 +0000 2014,1340,163,133,4600,False
55919cead6dfbb5a8183acd9,Mon Jun 29 19:30:53 +0000 2015,{'alcohol': 1},0.574210,drinking games with white people so fun üòÇüôåüèæ,"{'verified': False, 'statuses_count': 39723, '...",Tue Apr 28 00:55:55 +0000 2009,1371,1695,889,39723,False
55919d9fd6dfbb5a8183b396,Mon Jun 29 19:33:49 +0000 2015,{'alcohol': 1},0.528875,So ... \n\nMy Mom Walked Home With Case Load F...,"{'verified': False, 'statuses_count': 97636, '...",Mon May 18 01:03:12 +0000 2009,14212,4926,455,97636,False
5591a2b8d6dfbb5a8183d4d9,Mon Jun 29 19:55:40 +0000 2015,{'alcohol': 1},0.593045,If I could figure out a way of trading beer fo...,"{'verified': False, 'statuses_count': 2938, 'f...",Fri Jul 03 04:30:55 +0000 2009,14590,4523,4887,2938,False
5591a5a6d6dfbb62c62a8dd9,Mon Jun 29 20:08:05 +0000 2015,{'alcohol': 0},0.614315,"my drinks spill on me, while I feel on you","{'verified': False, 'statuses_count': 6264, 'f...",Fri Oct 03 16:22:21 +0000 2014,2371,334,233,6264,False
5591a6e2d6dfbb62c62a9a65,Mon Jun 29 20:13:25 +0000 2015,{'alcohol': 0},0.506897,"Finally, 2nd male suspect was caught yesterday...","{'verified': False, 'statuses_count': 44829, '...",Wed Jul 25 19:00:22 +0000 2012,74584,361,943,44829,False
5591a73ad6dfbb62c62a9e08,Mon Jun 29 20:14:54 +0000 2015,{'alcohol': 0},0.561373,Imagine Dragons in Jersey tonight .. üé∂,"{'verified': False, 'statuses_count': 15059, '...",Sun Aug 15 16:49:47 +0000 2010,13065,450,235,15059,False
5591a974d6dfbb62c62aaf79,Mon Jun 29 20:24:24 +0000 2015,{'alcohol': 1},0.535182,I like how much Brandon can drink üëç pretty awe...,"{'verified': False, 'statuses_count': 25211, '...",Fri Sep 10 23:56:54 +0000 2010,7232,215,181,25211,False
5591acb2d6dfbb62c62acfe8,Mon Jun 29 20:37:51 +0000 2015,{'alcohol': 1},0.606241,Debating on drinking today because Ashley isn'...,"{'verified': False, 'statuses_count': 99315, '...",Wed Oct 24 21:03:41 +0000 2012,43004,1445,980,99315,False
5591b008d6dfbb62c62af173,Mon Jun 29 20:52:28 +0000 2015,{'alcohol': 1},0.537267,when boul grabbed his drinks then start runnin...,"{'verified': False, 'statuses_count': 9013, 'f...",Sat Mar 30 18:33:15 +0000 2013,4929,337,359,9013,False
5591b30dd6dfbb717339f39c,Mon Jun 29 21:05:21 +0000 2015,{'alcohol': 1},0.561018,Call your friends let's get drunkkkkk.,"{'verified': False, 'statuses_count': 12785, '...",Fri Feb 10 02:32:47 +0000 2012,8367,2667,2519,12785,False
5591b460d6dfbb71733a0074,Mon Jun 29 21:10:59 +0000 2015,{'alcohol': 1},0.510933,Serving dinner at @TheMapleLeafPub \n\n6-9:30p...,"{'verified': False, 'statuses_count': 1682, 'f...",Tue Sep 10 04:36:38 +0000 2013,703,2556,1783,1682,False
5591b49ad6dfbb71733a02c7,Mon Jun 29 21:11:55 +0000 2015,{'alcohol': 1},0.506836,Big root beer smell and taste -\nYou may forge...,"{'verified': False, 'statuses_count': 9086, 'f...",Thu Feb 26 00:33:07 +0000 2009,4748,315,261,9086,False
5591b6f5d6dfbb71733a182a,Mon Jun 29 21:21:59 +0000 2015,{'alcohol': 1},0.665174,ITS SUMMER WHO CARES IF WERE FUCKED UP??? We a...,"{'verified': False, 'statuses_count': 16309, '...",Wed Sep 25 02:13:16 +0000 2013,15160,893,635,16309,False
557ca570d6dfbb7ac08b44f5,Sat Jun 13 21:50:17 +0000 2015,{'alcohol': 1},0.593227,Beer stains and more beer on our merch table l...,"{'verified': False, 'statuses_count': 870, 'fa...",Fri Jul 26 02:00:47 +0000 2013,552,275,457,870,False
55790537d6dfbb3f4bb7712f,Thu Jun 11 03:49:52 +0000 2015,{'alcohol': 1},0.571622,There are beer choices for just about every ta...,"{'verified': False, 'statuses_count': 330, 'fa...",Sun Oct 07 22:22:07 +0000 2012,1,49,175,330,False